{% extends 'hospital/homebase.html' %}
<!--
developed By : Neto Sarmento
Instagram : nort_dev
Geral : Tech Norte Soluções
-->

{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Olá, Doutor</h1>
  <p class="lead">Bem vindo a UGS.</p>
  <hr class="my-4">
  <p>Após cadastro você terá acesso completo ao Sistema.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/doctorsignup" role="button">Cadastrar</a>
    <a class="btn btn-primary btn-lg" href="/doctorlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
