{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block menu %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="/admin-dashboard">Dashboard</a>
        </li>

        <li class="nav-item">
            <a class="nav-link active" href="{% url 'hospital_lista_escalas' %}">Escalas de Médicos</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'admin-doctor' %}">Cadastro de Médicos</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'hospital_lista_unidades' %}">Cadastro de Postos de Saúde</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'hospital_lista_folgas' %}">Cadastro de Folgas</a>
        </li>
    </ul>
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-6">
        <br>
        <h2 class="btn btn-info btn-lg btn-block">Cadastro de Escalas</h2>
        
        {% if erro %}
            <p class="btn btn-danger">{{ erro }}</p>
        {% endif %}      

        {% if sucesso %}
            <p class="btn btn-success">{{ sucesso }}</p>
        {% endif %}

        <form action="{% url 'hospital_escala_novo' %}" method="POST">
            {% csrf_token %}

            {% bootstrap_form form %}

            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>

    <div class="col-6">
    <br>
    <h2 class="btn btn-info btn-lg btn-block">Lista de Escalas</h2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                <th scope="col">ID</th>
                <th scope="col">Data</th>
                <th scope="col">Posto</th>
                <th scope="col">Médico</th>               
                <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody>
                {% for escala in escalas %}
                <tr>
                <th scope="row">{{escala.id}}</th>
                <td>{{escala.data}}</td>
                <td>{{escala.posto}}</td>
                <td>{{escala.medico}}</td>
                <td>
                    <a class="btn btn-outline-dark" href="{% url 'hospital_escala_update' escala.id %}">Editar</a>
                </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>  
        <a class="btn btn-outline-success" href="{% url 'relatorio_pdf_escalas' %}">Baixar Relatório PDF de Escalas</a>  
    </div>
</div>
{% endblock  %}