{% extends 'hospital/homebase.html' %}
<!--
developed By : sumit kumar
facebook : fb.com/sumit.luv
youtube : youtube.com/lazycoders
-->

{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Ola, Seja Bem Vindo</h1>
  <p class="lead">UGS MEDICAL WEB sistema de gestão Hospitalar.</p>
  <hr class="my-4">
  <p>Você terá acesso ao sistema após Logar/Cadastrar.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/patientsignup" role="button">Registrar sua conta</a>
    <a class="btn btn-primary btn-lg" href="/patientlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
